body, html {
  font-size: 62.5%%;
	color: blue;
}

html{
	font-family: "impact"
}

.paragraph-1{
	text-align: center;
	color:darkblue;
	font-size: 1.2rem;
	font-weight: bold
}

.paragraph-3{
	display: inline-block;
}

.logo img{
	height: 40px;
	width: 80px;
}

nav ul{
	list-style: none;
	text-align: center;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child{
	margin-right: 0;
}

nav ul li > a {
	color: blue;
	font-size: 1.5rem;
	text-decoration: none;
}

img{
	float: left;
}

#copyright{
	float: right;
}